*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: #272727;
}
nav{
    width: 240px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3000;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
}
nav img{
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}
nav ul{
    padding-left: 30px;
    padding-top: 60px;
}
nav ul li{
    list-style-type: none;
    padding: 4px 0;
}
nav ul li a{
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #272727;
    text-transform: uppercase;
}
#toggleMenu{
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3050;
    cursor: pointer;
    border: 5px solid #000000;
    border-radius: 2px;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
}
#toggleMenu:hover{
    opacity: 0.7;
}
.mainBanner{
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}
.mainBanner .imgBanner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: all ease-in-out 500ms;
    -moz-transition: all ease-in-out 500ms;
    -o-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
}
.mainBanner #imgBanner3{
    background: url(images/banner3.jpg) no-repeat center;
}
.mainBanner #imgBanner2{
    background: url(images/banner2.jpg) no-repeat center;
}
.mainBanner #imgBanner1{
    background: url(images/banner1.jpg) no-repeat center;
}
.imgBannerBTN{
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 4px;
    position: absolute;
    top: 180px;
    z-index: 2000;
    opacity: 0.8;
    cursor: pointer;
}
.imgBannerBTN:hover{
    opacity: 0.9;
}
.imgBannerBTN-PREV{
    left: 5px;
    -webkit-background-size: 60%;
    background-size: 60%;
    background: url(images/arrow_left.png) no-repeat center;
}
.imgBannerBTN-NEXT{
    right: 5px;
    -webkit-background-size: 60%;
    background-size: 60%;
    background: url(images/arrow_right.png) no-repeat center;
}
.mainBanner .imgBanner-BOX h2{
    font-family: arial, sans-serif;
    font-size: 60px;
    color: #ffffff;
}
.mainBanner .imgBanner-BOX p{
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding-top: 6px;
}
.mainBanner #imgBanner3 .imgBanner-BOX{
    padding-top: 220px;
    padding-left: 100px;
}
.mainBanner #imgBanner2 .imgBanner-BOX{
    padding-top: 220px;
    padding-right: 200px;
    float: right;
    text-align: right;
}
.mainBanner #imgBanner1 .imgBanner-BOX{
    padding-top: 70px;
    padding-left: 100px;
}